
<div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Welcome</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Welcome the information provided here is anonymous.</h4> 
        </div>
    </div> <br> <br>
    <div class="row">
            <div class="col-sm-2 offset-sm-2">
                <input type="button" value="Cancel survey" (click)="onCancel()">
            </div>
            <div class="col-sm-2 offset-sm-2">
                <input type="button" value="Start survey" (click)="onStart()">
            </div>
        </div>
</div>