<div>
  <div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row">        
        <div class="col-md-8">
          <select class="form-control form-control-lg"  name="name" ngModel>            
            <option value="Eldoret">Eldoret</option>
            <option value="Busia">Busia</option>
          </select>
        </div>
      </div>
      <br><br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-2 offset-md-6">
          <button type="submit" class="btn btn-success">save</button>
        </div>
      </div>
    </form>
  </div>
</div>
