<div class="container">
    <div>
      <form action="" (click)="onclick()">
        <div>
          <div>
            <label for="location"></label>
            <select class="form-control form-control-lg" id="location">            
              <option value="Eldoret">Eldoret</option>
              <option value="Busia">Busia</option>
            </select>
          </div>
        </div>
        <div>
            <div>
              <label for="dept">Department</label>
              <select class="form-control form-control-lg" id="dept" >            
                <option value="m1">Module I</option>
                <option value="m2">Module II</option>
                <option value="m3">Module III</option>
                <option value="m4">Module IV</option>
              </select>
            </div>
          </div>
          <div>
              <div>
                <label for="program">Program</label>
                <select class="form-control form-control-lg" id="program">            
                  <option value="p1">HIV + AIDS</option>
                  <option value="p2">CANCER</option>
                  <option value="p2">CHRONIC DISEASES</option>
                  <option value="p2">DIABETIS</option>
                </select>
              </div>
            </div>
            <div>
              <div>
                <button class="btn btn-info btn-block">Start Survey</button>
              </div>
            </div>
      </form>
    </div>
  </div>
