/* You can add global styles to this file, and also import other style files */
.container {
    margin: 80px auto;
    padding: 20px;
    border: 1px solid gainsboro;
    width: 500px;
    height: 400px;
}